<!DOCTYPE html>
<html>
<head>

</head>

</html>

<body>
    <!--ДОДАВАННЯ НОВОГО СТУДЕНТА -->
    <div>
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Додати студента
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">

                <form action="/" method="post">
                    <input autocomplete="off" name="number" placeholder="Номер студента в групі" type="number" min="1" max="14">
                    <input autocomplete="off"  name="name" placeholder="Ім'я" type="text">
                    <input autocomplete="off" name="grup" placeholder="Номер групи" type="number">
                    <input autocomplete="off" name="zali" placeholder="Номер заліковки" type="number">
                    <input type="submit" value="Додати студента">
                </form>


            </div>
          </div>


    </div>

</body>

