<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">

    <title>
        EMPTY
    </title>

</head>

<body>
    <h1> Це порожня сторінка</h1>
<div>
    <p>Номер групи: {{grup_number}} </p>
    <p> {{material}} </p>
    <p> {{ "group" }} </p>
    <p> {{ group }} </p>
    <p> {{ "" }} </p>
</div>

<div>
    <table>
        {% for row in material %}
        <tr>
            <td> {{ row["number"] }} </td> RTTRTT
            <td> {{ row["name"] }} </td> RTTRTT
        </tr>
        {% endfor %}
    </table>
</div>

</body>